@import '../../variables.scss';

.book-card {
  border: 3px solid $dark-blue;
  border-radius: 20px;
  width: 100px;
  margin: 5px;
  padding: 5px;
  padding-bottom: 30px;

  h5 {
    font-size: 1rem;
    color: $dark-blue;
  }

  a {
    text-decoration: none;
    color: $pink;
    background-color: $dark-blue;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
  .book-btn {
    height: 40px;
    width: 80px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: $dark-blue;
    color: $pink;
    margin: 0px;

    @media screen and (min-width: 768px) {
      height: 50px;
      width: 137px;
      font-size: 1.1rem;
    }
  }

  @media screen and (min-width: 768px) {
    width: 200px;
    margin: 10px;
  }
}
